[submodule "lotordb/src/lotormath"]
	path = lotordb/src/lotormath
	url = https://github.com/smurfd/lotormath
[submodule "lotordb/src/lotorssl"]
	path = lotordb/src/lotorssl
	url = https://github.com/smurfd/lotorssl
